{% extends '::base.html.twig' %}

{% block title %}Book Dealers Palace{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        tbody td, tbody th {
            background: #fff;
        }

        tbody tr:nth-of-type(2n) th,
        tbody tr:nth-of-type(2n) td {
            background: #ccc;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="template" id="tpl-dealers">
        <table class="table">
            <thead>
            <tr>
                <td class="col-md-1">ID</td>
                <td>Name</td>
            </tr>
            </thead>
            <tbody id="tbl-dealers"></tbody>
        </table>
    </script>
    <script type="template" id="tpl-dealer">
        <tr>
            <th class="dealer-id"></th>
            <td><a href="" class="dealer-name"></a></td>
        </tr>
    </script>
    <script type="template" id="tpl-publications">
        <div class="col-md-6">
            <h2 class="dealer-name"></h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-2">Price</th>
                </tr>
                </thead>
                <tbody id="tbl-publications"></tbody>
            </table>
        </div>
    </script>
    <script type="template" id="tpl-publication">
        <tr>
            <td class="publication-title"></td>
            <td class="publication-type"></td>
            <td class="publication-price"></td>
        </tr>
    </script>
    <script>
      const urlTemplate = "{{ url('bookdealers_api_getpublications', {'dealerId': 0}) }}";

      function loadPublications(dealerId, dealerName, ready) {
        const $publications = $($('#tpl-publications').html());
        $publications.find('.dealer-name').text(dealerName);

        const $pubTable = $publications.find('#tbl-publications');
        const url       = urlTemplate.replace("/0/", "/" + dealerId + "/");
        $.get(url, function (data) {
          $pubTable.html('');

          var $template = $('#tpl-publication');
          data.forEach(function (item) {
            const $row = $($template.html());
            $row.find('.publication-title').text(item.title);
            $row.find('.publication-type').text(item.type);
            $row.find('.publication-price').text("€ " + item.price);

            $row.appendTo($pubTable);
          });

          ready($publications);
        });
      }

      function loadDealers(ready) {
        const $dealers = $($('#tpl-dealers').html());

        const $dealersTable = $dealers.find('#tbl-dealers');
        $dealersTable.on('click', '.dealer-name', function (e) {
          e.preventDefault();

          const $target       = $(e.currentTarget);
          const dealerId      = $target.data('id');
          const dealerName    = $target.text();
          const $publications = $('#publications');
          $publications.html('Loading...');
          loadPublications(dealerId, dealerName, function(content) {
            $publications.html(content);
          });
        });

        $.get("{{ path('bookdealers_api_getdealers') }}", function (data) {
          $dealersTable.html('');

          const $template = $('#tpl-dealer');
          data.forEach(function (item) {
            var $row = $($template.html());
            $row.find('.dealer-id').text(item.id);
            $row.find('.dealer-name').text(item.name).attr('data-id', item.id);

            $row.appendTo($dealersTable);
          });

          ready($dealers);
        });
      }

      $(function () {
        $('#dealers').html('Loading...');

        loadDealers(function(content) {
          $('#dealers').html(content);
        });
      });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Book Dealers Palace</h1>
        <div id="dealers"></div>
        <div id="publications"></div>
    </div>
{% endblock %}
